textarea {
   width: 90%;
   height: 90%;
}

canvas {
   width: 90vw;
}

.main__section-btn {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-bottom: 18rem;
}

.teclado__container {
   width: 350px;
   margin: 0;
}

.tecla {
   margin: 2rem 0 0 0;
}